$green: #00b67f;
$desktop: 0;

@import 'bulma';
@import 'bulma-badge/dist/css/bulma-badge.min';

html,
body {
  overflow: hidden;
}

th,
td {
  white-space: nowrap;
}

.link span:not(.icon) {
  vertical-align: top;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.25rem;
  bottom: 300px;
}

.log-view-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $modal-background-background-color;
  z-index: $modal-z - 1;
}

.log-view {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  z-index: $modal-z - 1;
}

.log-view-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.75rem;
  bottom: 0;
  padding: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message-animation .button {
  background-color: transparent;
  border: 0;
}

.message-message {
  margin-top: 2rem;
  color: $white;
}

.file-path,
.log-view-item {
  font-family: 'Menlo', 'Consolas', monospace;
}

.recent-file-list-item {
  display: flex;
  padding: 0.5em;

  .file-path {
    flex-grow: 1;
  }

  &:hover {
    background-color: $light;
  }
}

.log-view-item {
  font-size: 12px;
}
