$green: #00b67f;
$desktop: 0;

@import 'bulma';
@import 'bulma-badge/dist/css/bulma-badge.min';

html,
body {
  overflow: hidden;
}

.link span:not(.icon) {
  vertical-align: top;
}

.lower {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 400px;
  bottom: 8px;
}

.log-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: calc(2.25rem + 8px);
  padding: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid $border;
}

.log-buttons {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.message-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message-animation .button {
  background-color: transparent;
  border: 0;
}

.message-message {
  margin-top: 2rem;
  color: $white;
}

.file-path,
.log-view-item {
  font-family: 'Menlo', 'Consolas', monospace;
}

.recent-file-list {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 250px;
  bottom: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.recent-file-list-item {
  display: flex;
  padding: 0.5em;

  .file-path {
    flex-grow: 1;
  }

  &:hover {
    background-color: $light;
  }
}

.log-view-item {
  font-size: 12px;
}

.running-buttons .button {
  width: 80px;
}
